@CHARSET "UTF-8";

.center {
	text-align: center;
}

.right {
	text-align: right;
}

.left {
	text-align: left;
}

.tiny {
	font-size: x-small;
}

body {
	margin: auto 200px;
}

a {
	text-decoration: none;
	color: #0000ff
}

a:hover {
	text-decoration: none;
	color: #ff0000
}

.white {
	text-decoration: none;
	color: #ffffff;
}

#backgroundimage {
	background: linear-gradient(to bottom, white, #caccd3);
	width: 100%;
}

#pagetop {
	background: #45619d;
	height: 70px;
}

#logo {
	float: left;
	color: white;
	margin-left: 20px;
}

#userinfo {
	float: right;
	text-align: right;
	margin: 20px;
}

#userinfo input {
	margin-right: 5px;
}

#profile {
	margin: 10px auto;
	width: 800px;
	height: 250px;
	position: relative;
}

#profileinfo {
	float: left;
}

#profile img {
	float: right;
	height: 250px;
	width: 250px;
}

#pagemiddle {
	clear: right;
	text-align: center;
}

#form {
	margin: 30px auto;
	padding-top: 30px;
	padding-bottom: 30px;
	width: 320px;
	position: relative;
}

#register {
	margin: 30px auto;
	padding-top: 30px;
	padding-bottom: 30px;
	width: 450px;
	position: relative;
}

#pagebottom {
	clear: left;
	clear: right;
	background: #e0e0e0;
	text-align: center;
	padding: 5px;
	margin-top: 10px;
}

.button {
	border: 2px solid #1d3871;
	padding: 3px 6px;
	background: linear-gradient(to top, #637bad, #4f67a4);
	font-weight: bold;
	color: white;
	cursor: pointer;
	border-radius: 2px;
}

.button:hover {
	background: #45619d;
}

#users {
	clear: left;
	margin: 30px auto;
	width: 800px;
	height: 150px;
	position: relative;
	text-align: center;
}

#users img {
	height: 64px;
	width: 64;
}

#users span {
	float: left;
	margin: 30px auto;
}

#home {
	clear: left;
	margin: 30px auto;
	width: 800px;
	min-height: 350px;
	position: relative;
	text-align: center;
}

#home img {
	height: 64px;
	width: 64;
}

#home span {
	float: left;
	margin: 30px auto;
}

#etc {
	clear: left;
}

h3 {
	clear: left;
}